@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800;900&display=swap');

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
}

.logo {
    max-width: 150px;
    height: auto;
}

header {
    background-color: #cacaca;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

.hero {
    background-image: url('/static/img/catering.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 82, 87, 0.836);
    z-index: 1;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.hero p {
    font-weight: 900;
    color: #e9e4e4;
}

.cta-button {
    display: inline-block;
    background-color: #cacaca;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.features {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.feature {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    width: 30%;
    box-sizing: border-box;
}

.feature img {
    border-radius: 80%;
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.feature h3 {
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
    font-size: 16px;
    line-height: 1.4;
}

.circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #cacaca;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px #ffffff;
    animation: pulse 2s infinite;
}

.circle i {
    color: #333;
    font-size: 30px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px 5px #c9c6c6;
    }
    50% {
        box-shadow: 0 0 20px 10px #d8d8d8;
    }
    100% {
        box-shadow: 0 0 10px 5px #e2e2e2;
    }
}

.chat-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-chat {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#message-input {
    flex: 2;
    margin-right: 10px;
    padding: 12px;
    font-size: 16px;
}

.send-message {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.send-message:hover {
    background-color: #45a049;
}

.user-message {
    background-color: #7ED321;
    color: #333;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    text-align: left;
    margin-right: auto;
}

.chatbot-message {
    background-color: #3F87F7;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    text-align: right;
    margin-left: auto;
}

.contact {
    background-color: #666;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.contact label {
    margin-bottom: 5px;
    color: #fff;
}

.contact input,
.contact button {
    margin-bottom: 15px;
    padding: 10px;
}

footer {
    background-color: #666;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    font-size: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 400px;
    height: auto;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }

    .chat-container {
        width: 90%;
    }
}
